.body{
  margin: 0;
  padding: 0;
  background-color: $light-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding-top: 1em;
  height: 7rem;
  width:100%;
  background-color: $medium-blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 10px $medium-orange;

  .nav-link {
    @include p-font;
    color: $light-orange;
    padding: 1em;
  }

  .img-and-name{
    display: flex;
    flex-direction: row;
    align-self: center;
    text-decoration: none;

    .bookDuck{
      object-fit: contain;
      height: 5rem;
      width: auto;
      margin: 0rem 3rem;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.h1-bookducks {
  @include logo-font;
}

.h2-heading {
  @include h2-font;
}

.p {
  @include p-font;
}

.button {
  background-color: $medium-orange;
  color: $dark-blue;

  @include p-font;
  padding: 1em;
  margin-top: 1em;
  font-size: medium;

  outline: none;
  cursor: pointer;
  border: 1px solid $dark-brown;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(20, 43, 85, 0.5);

}

.button:hover {

  background-color: $medium-orange;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.hidden {
  display: none;
}

