//LOGIN/REGISTER
.forms-container {
  @include flex-row;
  align-items: space-between;
  

  background-color:  hsla(198, 71%, 74%, 0.66);
  @include border-style;
  margin: 2em 0em;
  padding: 1em 3em;

  .form-wrap {
    @include flex-column;
    width: 50%;

    .form {
      @include flex-column;

      label {
        @include p-font;
      }

      input {
        @include p-font;
      }
    }
  }

  .form-wrap.login {
    margin-right: 3em;
  }

  .form-wrap.register {
    margin-left: 3em;
  }
}