//PROFILE

//Wrappar alla divar
.profileInfo{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border: solid 1px yellow;
}


//DIVarna som innehåller My Profile, My books och Add books
.container {
  //display: flex;
  // flex-direction: row;
  // justify-content: space-evenly;
  .profile {
    display: flex;
    flex-direction: row;
  }
  .avatar {
    width: 4em;
    height: auto;
  }

  width: 23rem;//det här behöver ev ändras till annan mätenhet
  
  border: solid 1px magenta;


    //Styling formulär Add books
    .form-wrap {
      display: flex; 
      flex-direction: column;
  
      width: 15rem;
      height: 20rem;
  
      .form {
      display: flex; 
      flex-direction: column;

      label {
        @include p-font;
      }
  
      input {
       @include p-font;
      }
    }
  }
}

// #myProfile {
//   display: flex;
//   flex-direction: column;
// }