//PROFILE
.profileInfo{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 1px yellow;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 23rem;//det här behöver ev ändras till annan mätenhet
  
  border: solid 1px magenta;

  
    .form-wrap {
      display: flex; 
      flex-direction: column;
  
      width: 15rem;
      height: 20rem;
  
      .form {
      display: flex; 
      flex-direction: column;

      label {
        @include p-font;
      }
  
      input {
       @include p-font;
      }
    }
  }
}
