.about {
  @include flex-column;
  align-items: center;
  justify-content: center;
  margin: 2em 0em;
  padding: 1em 3em;

  background-color:  $bottom-bg-color;
 

  @include border-style;

  .how-it-works {
    @include border-style;
    background-color:  $overlay-bg-color;
  }
}

  

