.about {
  @include flex-column;
  align-items: center;
  justify-content: center;
  margin: 2em 0em;
  padding: 1em 3em;

  background-color:  hsla(198, 71%, 74%, 0.66);
 

  @include border-style;

  .how-it-works {
    border-top: solid 5px $light-blue;
    border-bottom: solid 5px $light-blue;
    background-color:  hsla(198, 71%, 74%, 0.3);
  }
}

  

