  //startpage
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
//startpage
.lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .bookDiv {
    border: solid 1px $light-orange;
    width: 100%;
    padding: 2em;
  }

}
