
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@300;400;500&display=swap');

//Fonts
@mixin heading-font {
  font-family: 'Fredoka One', cursive;
  letter-spacing: 3px;
}

@mixin p-font {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: $dark-blue;
}

//Colors
@mixin header-gradient {
  background: rgb(36,102,134);
  background: linear-gradient(145deg, rgba(36,102,134,1) 0%, rgba(12,44,67,0.4770950616574755) 100%);
}

@mixin footer-gradient {
  background: rgb(36,102,134);
  background: linear-gradient(145deg, rgba(12,44,67,0.4770950616574755) 100%, rgba(36,102,134,1) 0%);
}

//Colors
$lighter-blue: #6ba4bc;
$light-blue: #4b8ba6;
$medium-blue: #246686;
$dark-blue: #0c2c43;

$lighter-orange: #ffbeac;
$light-orange: #f8a891;
$medium-orange: #e26a48;
$dark-orange: #cd5b37;
$darker-orange: #914028;

$bottom-bg-color: hsla(198, 71%, 74%, 0.66);

$overlay-bg-color: hsla(198, 71%, 74%, 0.1);

//Common styling
@mixin bookdiv-style {
  width: inherit;
  height: auto;
  padding: 2em 3em;
  border-radius: 5px;
  border: solid 1px $medium-blue;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color:  $overlay-bg-color;

  .genreP {
    @include p-font;
    font-size: small;
    color: $lighter-orange;
    background-color: $dark-orange;
    width: 50%;
    padding: 0.2em;
    border-radius: 5px;
    text-align: center;
  }

  .p {
    margin: 0.3em;
    padding: 0;
  }
}

@mixin border-style {
  border-top: solid 5px $medium-blue;
  border-right: solid 10px $medium-blue;
  border-bottom: solid 5px $medium-blue;
  border-left: solid 10px $medium-blue;

  border-radius: 15px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
