//Colors
$light-blue: #4b8ba6;
$light-blue-2: #499bb0;


$medium-blue: #246686;

$dark-blue: #0c2c43;

$light-orange: #f8a891;
$medium-orange: #e26a48;
$dark-orange: #cd5b37;

$dark-brown: #5f2b1d;

//Fonts
