
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@300;400;500&display=swap');

//Fonts
@mixin logo-font {
  font-family: 'Fredoka One', cursive;
}

@mixin h2-font {
  font-family: 'Quicksand', sans-serif;
}

@mixin p-font {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


//Colors
$light-blue: #4b8ba6;
$light-blue-2: #499bb0;


$medium-blue: #246686;

$dark-blue: #0c2c43;

$light-orange: #f8a891;
$medium-orange: #e26a48;
$dark-orange: #cd5b37;

$dark-brown: #5f2b1d;

//Fonts
