@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@300;400;500&display=swap");
.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  background-color: #cd5b37;
}

.header {
  background: #246686;
  background: linear-gradient(145deg, #246686 0%, rgba(12, 44, 67, 0.477095) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1em;
  height: 8rem;
  width: 100%;
  border-bottom: solid 10px #e26a48;
}

.header .nav-link {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0c2c43;
  color: #f8a891;
  padding: 1em;
}

.header .img-and-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  text-decoration: none;
}

.header .img-and-name .bookDuck {
  -o-object-fit: contain;
     object-fit: contain;
  height: 6rem;
  width: auto;
  margin: 0rem 3rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(142, 208, 236, 0.66);
  padding-bottom: 2em;
  border-top: solid 5px #246686;
  border-right: solid 10px #246686;
  border-bottom: solid 5px #246686;
  border-left: solid 10px #246686;
  border-radius: 15px;
}

.lists .h2-heading {
  text-align: center;
}

.lists .bookContainer {
  width: 50%;
  border-right: solid 5px #246686;
}

.lists .audioContainer {
  width: 50%;
  border-left: solid 5px #246686;
}

.lists .bookDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: inherit;
  height: auto;
  padding: 2em 3em;
  border-radius: 5px;
  border: solid 1px #246686;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(142, 208, 236, 0.1);
}

.lists .bookDiv .genreP {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0c2c43;
  font-size: small;
  color: #ffbeac;
  background-color: #cd5b37;
  width: 50%;
  padding: 0.2em;
  border-radius: 5px;
  text-align: center;
}

.lists .bookDiv .p {
  margin: 0.3em;
  padding: 0;
}

.footer {
  background: #246686;
  background: linear-gradient(145deg, rgba(12, 44, 67, 0.477095) 100%, #246686 0%);
  height: 12em;
  width: 100%;
  margin-top: 3em;
}

.footer h2 {
  margin-left: 1.5em;
  font-size: x-large;
}

.footer .footer-text {
  width: 15em;
  font-size: small;
  margin-left: 3em;
}

.footer .footer-text .p {
  color: #ffbeac;
}

.h1-bookducks {
  font-family: 'Fredoka One', cursive;
  letter-spacing: 3px;
  color: #f8a891;
  font-size: 250%;
}

.h2-heading {
  font-family: 'Fredoka One', cursive;
  letter-spacing: 3px;
  color: #0c2c43;
}

.p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0c2c43;
}

.message {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0c2c43;
  font-size: small;
}

.genreLabel {
  font-family: 'Fredoka One', cursive;
  letter-spacing: 3px;
  color: #ffbeac;
  background-color: #cd5b37;
  width: 50%;
  padding-left: 0.5em;
  border-top-right-radius: 10px;
  border-top-left-radius: 5px;
}

.button {
  background-color: #e26a48;
  color: #0c2c43;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0c2c43;
  padding: 1em;
  margin-top: 1em;
  font-size: medium;
  outline: none;
  cursor: pointer;
  border: 3px solid #f8a891;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(219, 161, 75, 0.5);
          box-shadow: 0 2px 4px 0 rgba(219, 161, 75, 0.5);
}

.button.sign-out {
  padding: 0.3em;
  margin-right: 1em;
}

.button:hover {
  background-color: #f8a891;
  -webkit-box-shadow: 0 12px 16px 0 rgba(243, 171, 99, 0.24), 0 17px 50px 0 rgba(235, 164, 78, 0.19);
          box-shadow: 0 12px 16px 0 rgba(243, 171, 99, 0.24), 0 17px 50px 0 rgba(235, 164, 78, 0.19);
}

.hidden {
  display: none;
}

.forms-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  background-color: rgba(142, 208, 236, 0.66);
  border-top: solid 5px #246686;
  border-right: solid 10px #246686;
  border-bottom: solid 5px #246686;
  border-left: solid 10px #246686;
  border-radius: 15px;
  margin: 2em 0em;
  padding: 1em 3em;
}

.forms-container .form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.forms-container .form-wrap .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.forms-container .form-wrap .form label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0c2c43;
}

.forms-container .form-wrap .form input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0c2c43;
}

.forms-container .form-wrap.login {
  margin-right: 3em;
}

.forms-container .form-wrap.register {
  margin-left: 3em;
}

.myProfileContainer {
  border-top: solid 5px #246686;
  border-right: solid 10px #246686;
  border-bottom: solid 5px #246686;
  border-left: solid 10px #246686;
  border-radius: 15px;
  background-color: rgba(142, 208, 236, 0.66);
  padding: 1em 3em;
  margin: 2em 0em;
  width: inherit;
}

.myProfileContainer .h2-heading {
  text-align: center;
}

.myProfileContainer .myProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.myProfileContainer .myProfile ul {
  list-style-type: none;
  line-height: 150%;
  margin: 0;
}

.myProfileContainer .myProfile .avatar {
  width: auto;
  height: 8em;
}

.button.delete {
  padding: 0.5em;
}

.addfunctionwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 100%;
}

.addfunctionwrapper .form-wrap {
  width: inherit;
  height: auto;
  padding: 2em 3em;
  border-radius: 5px;
  border: solid 1px #246686;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(142, 208, 236, 0.1);
  border-top: solid 5px #246686;
  border-right: solid 10px #246686;
  border-bottom: solid 5px #246686;
  border-left: solid 10px #246686;
  border-radius: 15px;
  background-color: rgba(142, 208, 236, 0.66);
}

.addfunctionwrapper .form-wrap .genreP {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0c2c43;
  font-size: small;
  color: #ffbeac;
  background-color: #cd5b37;
  width: 50%;
  padding: 0.2em;
  border-radius: 5px;
  text-align: center;
}

.addfunctionwrapper .form-wrap .p {
  margin: 0.3em;
  padding: 0;
}

.addfunctionwrapper .form-wrap .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addfunctionwrapper .form-wrap .form label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0c2c43;
}

.addfunctionwrapper .form-wrap .form input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0c2c43;
}

.addfunctionwrapper .form-wrap.audio {
  margin-left: 1em;
}

.addfunctionwrapper .form-wrap.book {
  margin-right: 1em;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em 0em;
  padding: 1em 3em;
  background-color: rgba(142, 208, 236, 0.66);
  border-top: solid 5px #246686;
  border-right: solid 10px #246686;
  border-bottom: solid 5px #246686;
  border-left: solid 10px #246686;
  border-radius: 15px;
}

.about .how-it-works {
  border-top: solid 5px #246686;
  border-right: solid 10px #246686;
  border-bottom: solid 5px #246686;
  border-left: solid 10px #246686;
  border-radius: 15px;
  background-color: rgba(142, 208, 236, 0.1);
}
/*# sourceMappingURL=style.css.map */